[2018-12-18 03:12] nbarbettini opened #1 "Native sign-in (primary auth only)"
See stories 2, 3, 4, 5 in https://oktawiki.atlassian.net/wiki/spaces/~nate.barbettini/pages/632292017/Mobile+sample+user+stories

Demonstrate the following:

- Present a view that collects the user's email and password and starts primary authentication.
- If the response from the Authentication API is an error (such as invalid credentials), display the error.
- If the response from the Authenticat

[2019-01-14 14:54] nbarbettini opened #2 "Add password reset to sample"
After #1, add user story 6 from https://oktawiki.atlassian.net/wiki/spaces/~nate.barbettini/pages/632292017/Mobile+sample+user+stories

- [ ] The user must be able to initiate a password reset by submitting their username or email address
- [ ] Investigate if it is feasible to construct a reset link that will open in the app, instead of opening a web page (which is the default)

[2019-01-15 00:14] nbarbettini opened #3 "Browser sign-in"
Show browser sign-in and storing a token after sign-in. See stories 1, 3, 4, and 5 in https://oktawiki.atlassian.net/wiki/spaces/~nate.barbettini/pages/632292017/Mobile+sample+user+stories

[2019-01-15 00:17] nbarbettini opened #4 "Build base sample"
This sample application will be our main customer-facing demo/reference app. It will demo both native sign-in (#1) and browser sign-in (#2). It should

- [ ] Have a nice, clean UI with an Okta logo (that can be easily changed)
- [ ] Have a README with clear instructions for cloning and building the sample

[2019-01-15 05:50] nbarbettini opened #5 "Add lockout message and self-service unlock to sample"
After #1, add story 14 in https://oktawiki.atlassian.net/wiki/spaces/~nate.barbettini/pages/632292017/Mobile+sample+user+stories

[2019-01-15 05:51] nbarbettini opened #6 "Add remaining MFA factors to native sign-in sample"
Add missing stories from 7-13 in https://oktawiki.atlassian.net/wiki/spaces/~nate.barbettini/pages/632292017/Mobile+sample+user+stories

[2019-02-11 17:45] #4 closed, assigned to sergiymokiyenko-okta

[2019-02-11 17:48] FeiChen-okta opened #10 "Make use of fragments instead activity"
I would like to use fragments instead of having a all these activities. Can you look for ways to use fragments for password reset,recovery,questions, etc.

[2019-02-11 17:51] nbarbettini opened #11 "Add SMS MFA to native sign-in sample"
Story #7 in https://oktawiki.atlassian.net/wiki/spaces/PM/pages/632292017/Mobile+sample+user+stories

[2019-02-11 17:51] nbarbettini opened #12 "Add TOTP (code) MFA to native sign-in sample"
Story #8 in https://oktawiki.atlassian.net/wiki/spaces/PM/pages/632292017/Mobile+sample+user+stories

[2019-02-11 17:52] nbarbettini opened #13 "Add push MFA (polling) to native sign-in sample"
Story #12 in https://oktawiki.atlassian.net/wiki/spaces/PM/pages/632292017/Mobile+sample+user+stories

[2019-02-11 17:52] nbarbettini opened #14 "Add support for multiple MFA factors"
Story #13 in https://oktawiki.atlassian.net/wiki/spaces/PM/pages/632292017/Mobile+sample+user+stories

[2019-02-27 00:24] nbarbettini opened #17 "Browser sign-out"
In the browser sign-in sample, there is currently no way to sign out after signing in.

[2019-02-27 00:39] nbarbettini opened #18 "Refresh button title is incorrect"
After signing in with the browser sign-in sample, the button to refresh the user's access token has a weird title.

![image](https://user-images.githubusercontent.com/7525482/53456898-08d54780-39e5-11e9-8229-e7739d6b5285.png)

[2019-02-27 16:28] #18 closed, assigned to ihormartsekha-okta

[2019-02-28 22:44] nbarbettini opened #19 "Demonstrate self-service email-based account unlock"
After #5, implement story #15 in https://oktawiki.atlassian.net/wiki/spaces/PM/pages/632292017/Mobile+sample+user+stories

[2019-03-06 12:33] #19 closed, assigned to nobody

[2019-03-06 12:33] #17 closed, assigned to ihormartsekha-okta

[2019-03-06 12:33] #14 closed, assigned to nobody

[2019-03-06 12:34] #13 closed, assigned to nobody

[2019-03-06 12:34] #11 closed, assigned to nobody

[2019-03-06 12:34] #10 closed, assigned to nobody

[2019-03-06 12:34] #5 closed, assigned to nobody

[2019-03-06 12:34] #3 closed, assigned to ihormartsekha-okta

[2019-03-06 12:35] #1 closed, assigned to ihormartsekha-okta

[2019-03-06 12:35] #2 closed, assigned to nobody

[2019-03-06 12:35] #12 closed, assigned to nobody

[2019-03-15 18:40] nbarbettini opened #24 "Resend Voice or SMS factor"
Story 16 in https://oktawiki.atlassian.net/wiki/spaces/PM/pages/632292017/Mobile+sample+user+stories

[2019-05-16 06:07] nsspl-india opened #28 "Refresh token- No authorization configuration available for refresh request"
Hi Team,

I did try the custom-sign-in app.I did authentication, logged in etc work well. but When I pressed the refresh token buttton then I got an error "No authorization configuration available for refresh request ". I followed the right instructions and I don't see any problem in my okta_auth_app_config.json file.
Could you please help me out of this problem ?

[2019-05-16 09:54] dragosgaftoneanu-okta commented on #28
Hi @ihormartsekha-okta , @FeiChen-okta

Can you please review the error above? I have managed to reproduce this error as well on my end.

[2019-05-16 18:43] FeiChen-okta commented on #28
The issue is with the OktaAppAuth library. I've put in a fix https://github.com/okta/okta-sdk-appauth-android/pull/98 once that is merged I'll release a new version 0.2.4.

[2019-05-17 06:25] nsspl-india commented on #28
Hi @FeiChen-okta,

I tried the latest OktaAppAuth library and It is also not working. I got the errors when I opened and build the okta/okta-sdk-appauth-android project into the Android Studio.The errors seems that net.openid package has missed in the OktaAppAuth library. Could you please review the problem ? I need the solution of the problem.

[2019-05-17 07:05] FeiChen-okta commented on #28
@nsspl-india

I have made a release 0.2.4
you can update your gradle file with this version
[code]

[2019-05-17 08:28] nsspl-india commented on #28
It works.Thank you :)

[2019-05-17 08:28] #28 closed

[2019-06-07 09:30] nsspl-india opened #31 "Custom-Sign-In App has crashed in Android 6.0 and 5.0 O/S"
Hi Team,

I found an issue that I can't run the custom-sign-in app in android  6.0 (Marshmallow O/S) and 5.0 device (lollipop O/S) and It usually goes crash when the app is started.

So could you please look at this issue ? I will be help if you can provide the solution as soon as possible.I need this urgent.

Thanks !

[2019-06-08 00:57] FeiChen-okta commented on #31
Custom sign in only works on Android 7 and above. This is due to the usage of Java 8 in the authentication SDK.

[2019-06-08 02:01] nsspl-india commented on #31
In the custom-sign-in app, you mentioned minsdk 21, it means that app will work android 5.0 and above. Can you check minsdk version?

[2019-06-08 02:14] FeiChen-okta commented on #31
The build.gradle is set to min 21. But that is wrong. We are working on a library that is compatible with lower android versions. In the mean time you can directly use the REST API endpoint  in: https://developer.okta.com/docs/api/resources/authn/#authentication-operations
to get a sessionToken.

[2019-06-18 17:54] yashrao99 opened #33 "Insight into how to accomplish Native Sign-In"
I have a more generic question about the code-base.

I am trying to accomplish native sign-in without using the okta widget. I have successfully used the Okta-Auth SDK to take the email/password combo and return a session Token.

Where I am lost, is how to login using this session token. I see the method `authenticate` using the `OktaAppAuth` object, yet the authenticate listener returns nothing a

[2019-06-19 20:11] FeiChen-okta commented on #33
Hi @yashrao99 We have moved to another SDK and are in the process of updating these samples.

https://github.com/okta/okta-oidc-android

[2019-07-27 14:23] swagatdishri opened #38 "unable to resolve host: com.okta.dev-689264 no address associated with hostname"
unable to resolve host: com.okta.dev-689264 no address associated with hostname

When trying to login getting authorization error ,updated to all latest version still getting same issues

[2019-07-30 07:38] #38 closed

[2019-07-30 07:39] swagatdishri commented on #38
issues solved by adding correct discovery uri

[2019-09-17 10:32] albka1986 opened #42 "Can't build the project "Browser Sign-In". ERROR: ASCII"
[code]

[2019-10-15 07:02] nsspl-india commented on #31
@FeiChen-okta When could I get compatible with lower android version 21 ? I really need a stable for low android version 21.

[2019-10-15 16:51] FeiChen-okta commented on #31
@nsspl-india You can try using the bazel approach we have added in a separate branch:
https://github.com/okta/okta-oidc-android/tree/authn_android
Check the readme for more information.

[2019-12-03 22:51] adifcsa opened #44 "Add samples to shows how enroll in MFA(Multi Factor Authentication) factors"

[2020-01-02 14:37] #44 closed

[2020-01-23 07:29] swagatdishri opened #45 "app crashes while downloaded from playstore but working while building from android studio"
Caused by c.b.c.b.c
Unable to load class named [com.okta.authn.sdk.impl.client.DefaultAuthenticationClientBuilder] from the thread context, current, or system/application ClassLoaders. All heuristics have been exhausted. Class could not be found.

[2020-05-13 20:48] ggueta opened #46 "Okta - Received an error message in Custom-sign-in sample"
Hi,

I downloaded the Android Sample App
I used in ‘custom-sign-in’ sample, defined all setting of MFA in developer account and in android code (java),
The application worked fine until confirm the push notification or after enter code (manual) and press on “Verify” button,
I get the following error: “Response state param did not match request state” (code 9)

**Why do I get the above error?**

[2020-05-13 21:28] ggueta commented on #46
![The error message](https://user-images.githubusercontent.com/65312285/81867654-b9435300-9579-11ea-8aac-9c7349c93dbe.PNG)

[2020-05-15 16:35] FeiChen-okta commented on #46
Hi @ggueta the sample does not handle all the MFA flow. The state param error is probably due to the account you are using does not have MFA enabled, MFA enrolled. or in the process of enrolling but is awaiting activation.

custom-sign-in sample does not do all these state and errors like chrome custom tab does. We don't have an equivalent of the login page from chrome which handles these for nati

[2020-05-16 22:27] ggueta commented on #46
Hi,

My organization is a customer of Okta, now we are searching to add a new security service of Okta for the application (Android - Java) of the organization.
Before we are purchase the service, we need to check the developer environment of it, so I opened developer account in  Okta, see the following Details:
![image](https://user-images.githubusercontent.com/65312285/82131388-679b0280-97dd-11e

[2020-05-18 16:54] FeiChen-okta commented on #46
Hi @ggueta Your sign-on policy looks correct. Can you check your multi factor policy? for reference it can be found here https://developer.okta.com/docs/guides/mfa/-/set-up-org/
This is to enable using Okta Verify or Google Authenticator.

The sample does not do enrollment of the MFA. This is the step where you use Okta verify to scan a QR code or click a email activation link. For setting up MFA

[2020-05-18 21:30] ggueta commented on #46
Hi,
Attached screenshots of multi factor policy

![image](https://user-images.githubusercontent.com/65312285/82261093-19b20600-9967-11ea-9f01-f161e165c190.png)

![image](https://user-images.githubusercontent.com/65312285/82261146-2c2c3f80-9967-11ea-859b-74fca0f09369.png)

Is it set correctly?

[2020-05-18 22:10] FeiChen-okta commented on #46
Yes that looks correct. You can try the kotlin example and sign in with chrome. you should get a prompt to register for MFA with okta verify.

[2020-05-20 09:38] razvan-negri commented on #46
@FeiChen-okta Thanks for the update. It works fine with a global MFA policy but not with an app context MFA policy.

There was a similar thread a while back but the part about handling the stateToken is still unanswered https://devforum.okta.com/t/support-for-application-level-mfa-sign-on-policies/190/2

The step-up feature was enabled but didn't help.
We couldn't find any documentation on this su

[2020-05-20 17:37] FeiChen-okta commented on #46
Hi @razvan-negri If using custom login. The state token is passed to the client on initial login, you can use the stateHandler or the returned response.
[code]
The stateToken you can get from the response.
For more information on how to use the authn endpoints:
https://developer.okta.com/docs/reference/api/authn/#request-parameters-for-enroll-factor

Are you using chrome custom tabs to test the MF

[2020-07-30 14:59] samardzija opened #47 "Crash when using Custom sign in"
I got crashed when I enter credentials. It happens when trying to execute `authenticationClient.authenticate` method.
Full crash log:
`2020-07-30 16:58:30.967 23554-23554/com.okta.oidc E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.okta.oidc, PID: 23554
    com.okta.sdk.impl.ds.MarshalingException: Unable to convert InputStream String to Map.
        at com.okta.sdk.impl.ds.JacksonMapMar

[2020-07-30 15:05] #47 closed

[2020-08-04 14:10] gopalp1709 opened #50 "Refresh token throwing exception."
HI ,
I am using refersh token to get new session but I am getting following exception.

**AuthorizationException: {"type":0,"code":0,"errorDescription":"No refresh token found"}**

I am using browser singin and don't want to prompt browser singin to user when session expires.

[2020-08-10 14:46] gopalp1709 commented on #50
After enabling above setting and commenting clear storage in exceptions ,it;s working. Thanks 👍

[2020-08-10 14:46] #50 closed

[2020-09-22 13:48] gopalp1709 opened #52 "getSessionClient().clear(); not clearing session."
Hi @FeiChen-okta ,
I am clearing session after receiving below error:
 AuthorizationException: {"type":1,"code":1002,"error":"access_denied","errorDescription":"User is not assigned to the client application."}

When I am trying to open  browser login same above error occurs. Do I need to un-register callback?

[2020-09-22 16:37] FeiChen-okta commented on #52
Hi @gopalp1709 This shouldn't be an issue with the callback. Can give a step by step process of the sign in where you get this error?
This is my assumption:
1. User is not assigned the app
2. User sign in but gets the error access_denied
3. then clear session gets access_denied from browser sign out?

If that is the case this is a known issue
https://github.com/okta/okta-oidc-android/issues/161

T

[2020-09-23 08:42] gopalp1709 commented on #52
Hi @FeiChen-okta ,
Below are the steps to reproduce the error:

1. User is not assigned the app
2. User sign in but gets the error access_denied
3. After receiving step 2 error I am clearing the session but it's not clearing it.

I have gone through the link provide https://github.com/okta/okta-oidc-android/issues/161 here you mentioned workaround of disabling server to store session.
Can you plea

[2020-09-23 18:58] FeiChen-okta commented on #52
Hi @gopalp1709 Here is a link to for setting session timeout.
https://support.okta.com/help/s/question/0D50Z00008Gghw9/okta-session-timeout?language=en_US

[2020-09-24 15:27] gopalp1709 commented on #52
Hi @FeiChen-okta ,

I have gone through this URL https://support.okta.com/help/s/question/0D50Z00008Gghw9/okta-session-timeout?language=en_US , it is about configuring the session timeout . How this will help in clearing the session from browser ?
I want to clear the session from browser so that user can try other attempts for login.

Thanks
Amol

[2020-09-24 16:25] FeiChen-okta commented on #52
Hi @gopalp1709 When the session has timed out you don't have to clear the session from the browser.
You can set the session to never store requiring sign-in every time or a short session timeout.

[2020-09-25 14:22] gopalp1709 commented on #52
Hi @FeiChen-okta ,
Waiting till session timeout for next login attempt is not good user experience on mobile device,
Plus the session config , policies are shared by mobile and web so please suggest any other workaround,

Thanks
Amol

[2020-09-28 16:34] FeiChen-okta commented on #52
Hi @gopalp1709 Unfortunately that is the only workaround I have. The other is to use webview instead of chrome custom tabs. But that is not support in the SDK.

[2020-10-29 12:55] jamesreeder-okta opened #56 "Discovery URI Guidance"
On the Kotlin sign-in example page, the setup configuration file instructions state to use your Okta Domain for the **discovery_uri** parameter. This is confusing for people not familiar with how AS's work within Okta.

It would be better if we could expand the instructions or at least improve referencing to the following section in the **okta-oidc-android** README page.

---

[2020-10-29 14:29] JayNewstrom commented on #56
I found this confusing the first time I set it up as well. We have this issue for other samples as well.

I propose we create a configuration section in the okta-oidc-android repo and link all other samples to it. The samples that would link to it would include the ones in this repo, as well as the react native samples.

Thoughts @FeiChen-okta?

[2020-10-29 16:49] FeiChen-okta commented on #56
Yes setting up a link to a configuration section in the main repository or the dev docs is a good idea.

[2020-11-02 18:02] JayNewstrom commented on #56
Internal Ref: OKTA-342762

[2020-11-04 23:43] JayNewstrom commented on #56
I've submitted a few PRs:

- https://github.com/okta/samples-android/pull/57
- https://github.com/okta/okta-oidc-android/pull/200

This should help with discovery_uri understand for new okta users.
I'm going to close this issue as resolved. Feel free to reopen or open a new issue if you have any other suggestiong.
Thanks!

[2020-11-04 23:43] #56 closed

[2020-11-19 17:42] JayNewstrom commented on #46
It looks like Fei was able to answer your questions, if you have any others please feel free to comment, reopen, or create a new issue. Thanks!

[2020-11-19 17:42] #46 closed

[2020-11-19 17:43] JayNewstrom commented on #45
This looks like a proguard/R8 configuration issue. Can you use one of our samples to reproduce the issue so we can fix this? Thanks!

[2020-11-19 17:43] #45 closed

[2020-11-19 17:44] JayNewstrom commented on #42
We build these projects are part of our continuous integration (Travis CI). Can you provide us steps to reproduce your issue? Thanks!

[2020-11-19 17:45] #42 closed

[2020-11-19 17:46] #33 closed

[2020-11-19 17:47] JayNewstrom commented on #31
We've updated the documentation and samples to show how to support Android 21+.

[2020-11-19 17:47] #31 closed

[2021-01-14 18:14] JayNewstrom commented on #52
I've got some more feedback from the team on next steps for this. The plan is to add `client_id` param, given some updates to the spec: https://bitbucket.org/openid/connect/issues/1182/add-logout_hint-parameter-to-rp-initiated

Our backend team hasn't committed to a timeframe yet on this. I'll update the ticket once we've got another round of next steps.

Internal ref: OKTA-361004

[2021-02-17 21:47] noinarisak opened #60 "Browser-Sign-In example sign out does not work"
Hey @FeiChen-okta,

When I click on the SIGN-OUT button, I'm not redirected to launch/landing page and it seems like the session has not been revoke.

Steps:
1. Click Browser-Sample app.
2. Click on `SIGN IN` and enter credentials
3. Click on `SIGN OUT` and close the app.
4. Click Browser-Sample app.
5. No authN and Profile screen is presented, but assuming that my session was killed.

Other:
1. C

[2021-02-17 23:25] FeiChen-okta commented on #60
Hi @noinarisak,

The `signOutOfOkta` starts the browser to clear the session. It then redirects to the application and triggers the result callback n `UserInfoActivity`. Make the following changes to the [success callback](https://github.com/okta/samples-android/blob/master/browser-sign-in/app/src/main/java/com/okta/android/samples/browser_sign_in/UserInfoActivity.java#L137) and check for the stat

[2021-02-18 23:11] noinarisak commented on #60
Thanks @FeiChen-okta! That did the job. I could submit a PR on the fix that you advised. I would assume other dev would probably want to see the same experience when they click on the `SIGN OUT`.

[2021-02-18 23:27] FeiChen-okta commented on #60
@noinarisak Glad everything worked out. Sure you can submit a PR.

[2021-03-16 11:56] roym5252 opened #61 "Redirection not working in android release build"
Okta redirection is not working in android release build with minifyenabled set to true

[code]

It is properly getting redirected in release build if I set minifyenabled false. If it is set to true then the progress bar is displayed infinitely.

[2021-03-16 14:22] NikitaAvraimov-okta commented on #61
Created internal story to research this issue, ref OKTA-379061. In the meantime you can try editing your proguard config to keep library untouched:
`-keep class com.okta.** { *; }`

[2021-03-19 14:39] kirtipopli83 opened #62 "NoClassDefFoundError: com.okta.commons.configcheck.ConfigurationValidator"
When I am opening the app authentication client is not able to find the class and throwing error as
java.lang.NoClassDefFoundError: com.okta.commons.configcheck.ConfigurationValidator

[2021-03-19 15:32] JayNewstrom commented on #62
Hi, thanks for the issue. Could you please provide us steps to recreate your issue?

[2021-03-19 15:38] kirtipopli83 commented on #62
Write this code in main method which will be used to initialize authenticationClient

class BaseActivity{

var authenticationClient: AuthenticationClient? = null

fun main(){
try {
            authenticationClient = AuthenticationClients.builder()
                .setOrgUrl(BuildConfig.OKTA_BASE_URL)
                .build()
        } catch (e: ExceptionInInitializerError) {
            Timber.d("

[2021-03-19 16:22] JayNewstrom commented on #62
Let's take a step back and make sure we can get a working configuration!
It sounds like what you want to do is use what we call in our samples "custom sign on".

We've got a simple sample you can use to make it easy to make sure your configuration is working. After cloning this repo, I was able to get this project working with just the configuration changes mentioned in the readme. https://github.

[2021-03-21 19:34] kirtipopli83 commented on #62
I have implemented in the same way, followed the custom-sign-on example only when I started working.

But still I get this error many times

java.lang.NoClassDefFoundError: com.okta.commons.configcheck.ConfigurationValidator
        at com.okta.commons.configcheck.ConfigurationValidator.assertOrgUrl(ConfigurationValidator.java:74)
        at com.okta.authn.sdk.impl.client.DefaultAuthenticationClie

[2021-03-21 19:35] kirtipopli83 commented on #62
Caused by: java.lang.ExceptionInInitializerError
        at com.okta.commons.configcheck.ConfigurationValidator.assertOrgUrl(ConfigurationValidator.java:74)
        at com.okta.authn.sdk.impl.client.DefaultAuthenticationClientBuilder.setOrgUrl(DefaultAuthenticationClientBuilder.java:217)

[2021-03-21 19:36] kirtipopli83 commented on #62
Caused by: java.util.MissingResourceException: Can't find bundle for base name com/okta/commons/configcheck/configuration-validator, locale en_US
        at java.util.ResourceBundle.throwMissingResourceException(ResourceBundle.java:1558)
        at java.util.ResourceBundle.getBundleImpl(ResourceBundle.java:1381)
        at java.util.ResourceBundle.getBundle(ResourceBundle.java:771)
        at com.

[2021-03-22 15:04] JayNewstrom commented on #62
Can you please ensure you have these dependencies in your build.gradle file?

https://github.com/okta/samples-android/blob/master/custom-sign-in/app/build.gradle#L59-L62

[2021-03-23 15:01] kirtipopli83 commented on #62
Yes, I have added all the dependencies as in the given above link

[2021-03-23 15:42] JayNewstrom commented on #62
@NikitaAvraimov-okta do you have any ideas here?

[2021-03-24 21:03] yahmi opened #63 "Custom sign In example not connecting after verify sms code android"
Hello ,
I followed all step for the sample with mfa login , I have this result , I get the sms code and fill it when click on verify i don't get user information , i get this error " Response state param did not match request state".
I tried with postman all calls works fine any one could help me please .

[2021-03-24 22:17] JayNewstrom commented on #63
Could you please confirm you've setup the policy with the steps in our readme? https://github.com/okta/samples-android/tree/master/custom-sign-in#prerequisites

[2021-03-24 23:10] yahmi commented on #63
yes I did all the steps in read me for settings for mfa and assign user for app and groups et policy rules   , the result I get it is the sms code is sent when I fill  and verify  i get this " Response state param did not match request state".

[2021-03-25 02:31] JayNewstrom commented on #63
@NikitaAvraimov-okta could you take a look at this?

[2021-03-25 06:30] kirtipopli83 commented on #62
I am still not able to figure out, what happens at the time of initialization,

It always crashes the app on .setOrgUrl(url)

try {
authenticationClient = AuthenticationClients.builder()
.setOrgUrl(BuildConfig.OKTA_BASE_URL)
.build()
} catch (e: ExceptionInInitializerError) {
Timber.d("AuthenticationClient %s", e.message)
}

[2021-03-25 07:49] NikitaAvraimov-okta commented on #63
@JayNewstrom on it

[2021-03-25 07:55] NikitaAvraimov-okta commented on #61
It is expected from developers to add okta to proguard exceptions.
Please feel free to reach out if you have other questions.

[2021-03-25 07:55] #61 closed

[2021-03-25 18:48] yahmi commented on #63
Hello guys  ,
@JayNewstrom
@NikitaAvraimov-okta
do you have any updates please ?

[2021-03-26 15:52] NikitaAvraimov-okta commented on #63
@yahmi We are looking into your issue, I`ll get back to you with some news soon.
Thank you

[2021-03-31 07:34] yahmi commented on #63
hello @NikitaAvraimov-okta  do you have any update , thank you

[2021-03-31 11:12] NikitaAvraimov-okta commented on #63
Could you please confirm that this is the exception you get?

<img width="534" alt="image" src="https://user-images.githubusercontent.com/76003913/113135702-18aa6000-922b-11eb-8c2f-d18c3c9f208a.png">

[2021-04-01 13:55] NikitaAvraimov-okta commented on #63
@yahmi We need to do further research on why this can be happening. For now you can try browser sign-in scenario. Could this flow possibly satisfy your usecase?

[2021-04-01 14:00] yahmi commented on #63
@nickvice-okta  using browser it works fine i receive code and I can connect , just using native mfa in android i get this error

[2021-04-06 06:55] #60 closed

[2021-04-07 08:02] NikitaAvraimov-okta commented on #63
@yahmi Could you please visit okta admin panel, and share your sign-on policy rules. Go to Security -> Authentication -> Sign-on, then check out rules, you should be seeing "Yes" in front of Prompt for factor.
<img width="398" alt="image" src="https://user-images.githubusercontent.com/76003913/113831780-a688cc80-9790-11eb-8bd8-cd76b2c867ea.png">
If not, edit existing or create a new rule.

[2021-04-07 12:07] yahmi commented on #63
@NikitaAvraimov-okta  yes , I checked it is. already setted up to yes .
![image](https://user-images.githubusercontent.com/15951180/113863916-8b2abb00-97aa-11eb-9cb4-fc6c9ff7b1ee.png)

[2021-04-07 12:13] NikitaAvraimov-okta commented on #63
@yahmi and your group "android poc app" does contain a user which you test upon? If yes, do you mind sharing your code on for handling mfa challenge, please

[2021-04-07 12:17] yahmi commented on #63
@NikitaAvraimov-okta  yes
    private void verifyFactor(String factorId, VerifyFactorRequest request) {
        KeyboardUtil.hideSoftKeyboard(getActivity());
        showLoading();
        submit(() -> {
            try {
                authenticationClient.verifyFactor(factorId, request, new AuthenticationStateHandlerAdapter() {
                    @Override
                    public void handl

[2021-04-08 11:58] NikitaAvraimov-okta commented on #63
@yahmi disable your application level mfa rules, but the ones from "Security -> Authentication -> Sign On" enabled and you should be good to go

[2021-04-08 16:16] tyfrth commented on #63
Can confirm this works for me

[2021-04-09 14:12] #63 closed

[2021-04-09 14:13] yahmi commented on #63
Thank for the support

[2021-04-20 23:22] yahmi opened #65 "adding okta to existing project not working"
Hi ,
I followed all step to add okta to an existing android project , when sync gradle is goin ok , but when build the app it show this
message **

In project 'app' a resolved Google Play services library dependency depends on another at an exact version (e.g. "[1.2.4

[2021-04-20 23:54] JayNewstrom commented on #65
Hi, thanks for the issue.

What library are you trying to include?

Can you reproduce this in one of our sample apps?

[2021-04-21 17:09] yahmi commented on #65
i am trying to include this library :
 implementation fileTree(dir: 'libs', include: ['*.jar'])
        implementation 'com.okta.android:oidc-androidx:1.0.16'
        implementation 'com.okta.authn.sdk:okta-authn-sdk-api:2.0.0'
        implementation('com.okta.authn.sdk:okta-authn-sdk-impl:2.0.0') {
            exclude group: 'com.okta.sdk', module: 'okta-sdk-httpclient'
        }

        impleme

[2021-04-21 18:07] yahmi commented on #65
@JayNewstrom  even when i try  your exemple steps i get this kind of error
 Unable to get provider androidx.startup.InitializationProvider: androidx.startup.StartupException: androidx.startup.StartupException: java.lang.IllegalStateException: Default FirebaseApp is not initialized in this process com.
it make other library not working well

[2021-04-22 14:16] JayNewstrom commented on #65
@yahmi your dependencies look similar to our sign-in-kotlin example. Could you try to recreate the error in our sample? https://github.com/okta/samples-android/blob/master/sign-in-kotlin/

I'm unable to reproduce your issue.

[2021-04-23 16:10] yahmi commented on #65
Hello ,
On your own example unable to reproduce it , your libs is working with google services 4.0.0 other is not working

[2021-04-29 13:11] manishakalia opened #66 "The browser is not closed on backPress of the activity"
On using the WebAuthClient when I get the successful auth from okta and goes to another activity, on backpress of the new activity the browser still open thought the activity which was used for the auth has been removed but the browser is still open. I search in the issue the solution I tired adding
eg:-
            android:launchMode="singleTop"
            tools:replace="android:launchMode"

But

[2021-04-29 13:55] JayNewstrom commented on #66
Hi @manishakalia Thanks for the issue. I'm able to recreate, and I've attached a screen recording of what's happening.

When clicking the Android back button on the bottom left of the screen, the page is refreshed, rather than exited. When clicking on the x on the top left of the screen, the page is properly dismissed.

https://user-images.githubusercontent.com/713288/116561942-5ea92100-a8c8-11eb-

[2021-04-30 05:49] manishakalia commented on #66
Thank you for your response I am highlighting the point where we have 2 activity, one which call for auth to okta like above example you mentioned and another activity where it take after the access of auth from okta and we dismiss the first activity. As we have authenticate the user and fetch the information. But when I backpress from second activity, browser is still open where I can see the okt

[2021-04-30 14:31] JayNewstrom commented on #66
@manishakalia I think I'm following you, but I'm not sure. Would it be possible to upload a screen capture similar to the one I did above? Are you able to reproduce this in our sample app? Do you have example code if not?

[2021-06-22 19:23] JayNewstrom commented on #66
Hi @manishakalia please reopen with more information. Thanks!

[2021-06-22 19:28] JayNewstrom commented on #65
Hi @yahmi are you still running into this issue? Is there anything else I can help with?

[2021-06-23 15:59] NikitaAvraimov-okta commented on #62
Let`s do further conversation at https://github.com/okta/okta-oidc-android/issues/234 to not confuse anyone who might be facing the same problem.

[2021-06-23 15:59] #62 closed

[2021-08-19 19:54] mitchross opened #68 "Sample App Download From Admin Page Not Pre-Populating Configs"
![image](https://user-images.githubusercontent.com/6330506/130134992-d3791c9f-4f89-44e3-85eb-2fa4492dbab7.png)
![image](https://user-images.githubusercontent.com/6330506/130135021-f9c6a09f-48d1-42f1-ac42-ab4057a02fb6.png)

Where on iOS it is
![image](https://user-images.githubusercontent.com/6330506/130135242-4a3d857c-82fc-4c46-9fd2-5837e3b11b78.png)

[2021-08-19 20:03] JayNewstrom commented on #68
Hi, thanks for the report. I'll forward this on to the right team to fix.

[2021-08-19 21:16] JayNewstrom commented on #68
Internal ref: OKTA-421614

[2021-09-03 14:39] yahmi opened #69 "Refresh token "errorDescription":"individual scopes cannot be null or empty""
hello ,
I have set the configuration for my project on the sample , I get the access token but when I try to get the refreshToken , I receive the error message  "errorDescription":"individual scopes cannot be null or empty"

@JayNewstrom @NikitaAvraimov-okta

[2021-09-03 14:58] JayNewstrom commented on #69
Hi @yahmi could you paste the scopes you have configured here?

[2021-09-03 15:08] yahmi commented on #69
hi @JayNewstrom
  "scopes": [
    "openid",
    "profile",
    "offline_access",
    "idb2c"
  ],

[2021-09-07 15:18] JayNewstrom commented on #69
I'm not able to reproduce this issue. Could you show how you're instantiating your OIDCConfig?

Here's how I'm doing it with the scopes you provided.

[code]

[2021-09-07 15:20] yahmi commented on #69
Hello @JayNewstrom  I do the same , but backend need to send scopes because the method throw null ,
so the issue is closed for my side

[2021-09-07 15:21] JayNewstrom commented on #69
Ok, thanks for the update. If you have any other questions, feel free to open a new issue.

[2021-09-07 15:21] #69 closed

[2021-09-07 15:23] yahmi commented on #69
@JayNewstrom
 params.put("scope", AsciiStringListUtil.iterableToString(Collections.singletonList(scope))  the error is throwen here when the backend don't send scopes maybe need a fix for fetaure version

[2021-09-07 15:25] JayNewstrom commented on #69
If the server is sending scopes, please make sure the server is sending the correct scopes. If the server is unable to send the correct scopes, you'll need to add logic to the app to filter null/empty scopes before sending them to the SDK, or provide a default set of scopes if the server is unable to send the scopes.

[2021-10-14 13:39] kirtipopli83 opened #72 "Facing Issue with Google Integration using IDP returning error "identity provider is not valid""

[2021-10-19 05:43] kirtipopli83 commented on #72
Issue is fixed, it was IDP param was taking from dev environment. Thanks.

[2021-10-19 05:43] #72 closed

[2021-10-22 21:57] BousmanBE opened #73 "Secondary sign-out page won't allow us to fully sign-out"
When we use the React Native Browser Sign-In sample and tell the application to log us out, it doesn't fully log us out of the system. We were told by our internal IT that we have to call an additional sign-out URL in order to fully clear out our session. The problem is that when we do this via Chrome, it sometimes works and sometimes it doesn't because it appears to open this secondary URL in a d

[2021-11-03 13:01] NikitaAvraimov-okta commented on #73
@BousmanBE can you clarify reproduction steps? Are you trying to sign out from several okta orgs?

[2021-11-03 15:06] BousmanBE commented on #73
@NikitaAvraimov-okta please direct any questions/requests to @viveknov as he is part of the development team and I'm more of just a man-in-the-middle. As for your question, we have our https://logindev.nov.com site that if you're not an NOV user, it will just use that site to log you in, however, if you are an NOV user, it will redirect you to our https://myaccount.nov.com website. So for NOV user

[2021-11-03 19:51] BousmanBE commented on #73
@NikitaAvraimov-okta along with this, when the Okta token expires, we are unable to login again as it's trying to use the old token but it's expired so it just sits there and tries to login but never will.

[2021-11-19 10:21] cakism opened #75 "Request: Jetpack Compose example"
Now that we're nearing 6 months since the stable release of Jetpack Compose, it would be great to see some examples of how to do an Compose app with Okta login! :)

[2021-11-19 15:33] JayNewstrom commented on #75
Hi @cakism thanks for reaching out! I'll let our PM know there's interest in Jetpack Compose samples.

Are you experiencing any issues? Is there anything we can do in the meantime to unblock you?

[2021-11-22 08:45] cakism commented on #75
Hi, and thanks for the quick reply! :)
Not exactly experiencing issues, but it would be great to have some docs or examples for how to do it with some more of the latest trending patterns to build apps, so in my case that would be:
* Single activity app base
* Jetpack Compose for all the UI
* Hilt dependency injection (seems to be what Google is recommending for Compose)

So not that I'm blocked,

[2021-11-28 22:58] Naimish-Heritage opened #76 "Getting IllegalStateException for OkHttp3 while building AuthClient"
Hi, I'm following the sample codebase - **sign-in-kotlin** to implement custom signin with SDK approach.

In our project we've,
compileSdkVersion = 30
minSdkVersion = 23
targetSdkVersion = 30

So I created a one poc project from scratch with similar SDK versions. But when I run the app I get IllegalStateException  as shown in below screenshot. It seems like it's related to Okhttp library (implemen

[2021-11-29 15:39] JayNewstrom commented on #76
Hi @Naimish-Heritage could you please confirm you've added the `coreLibraryDesugaring` bits?

See: https://github.com/okta/samples-android/blob/master/sign-in-kotlin/app/build.gradle#L33-L46

[2021-11-30 22:58] Naimish-Heritage commented on #76
Hi @JayNewstrom,

I had implemented coreLibraryDesugaring in the dependency list, but it wasn't enabled in the compile options so I enabled it and tried again but it didn't work. I'm getting the same exception.

![image](https://user-images.githubusercontent.com/95067140/144141391-df0c698b-c58c-4c34-938e-1db755a93c80.png)

Just to double check, I also tried simply updating compileSdkVersion & targ

[2021-12-01 00:40] JayNewstrom commented on #76
Looks like you just need to add a dependency on the latest OkHttp.

`implementation 'com.squareup.okhttp3:okhttp:4.9.3'`

I'll ping our java SDK maintainer to see if we can get that updated as a transitive dependency.

[2021-12-01 00:46] JayNewstrom commented on #76
Arvind is working on the final fix in the SDK. See https://github.com/okta/okta-commons-java/pull/65

Closing for now. Feel free to ping me or reopen if this doesn't fix it for you.

[2021-12-01 00:46] #76 closed

[2021-12-06 04:13] Naimish-Heritage commented on #76
Thanks @JayNewstrom. It is working with direct okhttp reference.

[2022-03-01 10:06] Naylet commented on #66
Hi @JayNewstrom! I'm facing the same issue on some devices. It seems that on Huawei everything works as expected and the user is redirected back to the previous activity. Unfortunatelly on Samsung the behaviour is the same as in the video you attached. Have you already found any solution for that?

[2022-03-01 20:17] JayNewstrom commented on #66
Hi @Naylet could you give us more information about the devices you're seeing the issue on so we can reproduce it?

[2022-03-02 14:08] JayNewstrom commented on #66
@Naylet are you able to reproduce this in any Android Emulators?

[2022-03-02 14:15] Naylet commented on #66
@JayNewstrom I checked it right now and on Pixel 3 it's also not working. When clicking the back button the page is rather refreshed than closed.

[2022-03-04 10:49] Naylet commented on #66
@JayNewstrom any updates? Were you able to reproduce it?

[2022-03-04 17:06] JayNewstrom commented on #66
I don't have easy access to the mentioned devices. Have you been able to reproduce this on an Android emulator? That would be the easiest way for us to reproduce/fix it.

[2022-03-07 09:41] Naylet commented on #66
@JayNewstrom I have to rectify . I tested few more times and it turned out that actually the device doesn't matter. The thing that triggers the issue is the focus. If the webView has no focus then we're able to go back on back button press. If we touch the screen and the webView gains focus then clicking on the back button will refresh the page - not close it.

[2022-03-07 09:48] Naylet commented on #66
Pixel 3 is an Android Emulator that can be created in Android Studio.

[2022-03-07 14:58] JayNewstrom commented on #66
I've reopened the issue, and we'll take a look.

[2022-03-16 11:44] Naylet commented on #66
@JayNewstrom what's the status?

[2022-03-17 01:57] JayNewstrom commented on #68
The original issue should be fixed now.

[2022-03-17 01:57] #68 closed

[2022-03-22 17:10] #65 closed

[2022-03-22 17:12] #24 closed

[2022-03-22 17:12] #6 closed, assigned to nobody

[2022-03-24 08:59] Naylet commented on #66
@JayNewstrom Please let me now if you could find any solution for the issue?

[2022-05-27 12:49] niteshsirohi1 opened #80 "FaceID creating issues"
### Describe the bug?

I am trying to login and then enabling smart lock, on enabling finger print it accepts face id, but while unlocking it does not accept face ID and not login in to app, please suggest solution for it, same case is not working in their sample app also.

### What is expected to happen?

If it is accepting face ID, then it should allow user to login.

### What is the actual beha

[2022-05-30 13:52] laura-rodriguez commented on #80
Hi @niteshsirohi1,

Thanks for reporting this issue. Someone from our team will review it soon.

cc @JayNewstrom

[2022-05-31 16:52] niteshsirohi1 commented on #80
Logs while enabling smart lock with face ID

2022-05-31 22:14:21.105 28220-28257/com.okta.android.samples.browser_sign_in I/BufferQueueProducer: [ViewRootImpl[BrowserSignInActivity]#2(BLAST Consumer)2](id:6e3c00000002,api:1,p:28220,c:28220) disconnect: api 1
2022-05-31 22:14:21.106 28220-28257/com.okta.android.samples.browser_sign_in E/BLASTBufferQueue: BLASTBufferItemConsumer::onDisconnect()
2022

[2022-05-31 16:54] niteshsirohi1 commented on #80
It is returning invalid keys.
 mSmartLockHelper.showSmartLockChooseDialog(this, new SmartLockHelper.FingerprintCallback(this, encryptionManager) {
                        @Override
                        protected void onSuccess() {
                            if (encryptionManager.isValidKeys()) {
                                showUserInfo();
                            } else {

[2022-05-31 17:05] JayNewstrom commented on #80
I see. This is expected behavior. The sample is using the (legacy) FingerprintManager, which doesn't support other forms of biometrics. You'll need to use something like https://developer.android.com/reference/androidx/biometric/BiometricPrompt if you want to support the newest functionality.

[2022-06-01 04:10] niteshsirohi1 commented on #80
But this BiometricPrompt is already mentioned in your sample, please check SmartLockHelper class, this below function is already there which is not working as intended. Please check this-

 private void showBiometricPromptCompat(FragmentActivity activity, FingerprintDialogCallbacks callback) {
        androidx.biometric.BiometricPrompt.PromptInfo promptInfo = new androidx.biometric.BiometricPrompt

[2022-06-01 14:29] JayNewstrom commented on #80
The biometric prompt used in the sample is not the androidx biometric prompt like I linked above. The sample we've provided only supports Fingerprint, you'll need to rewrite it with the newest SDKs/APIs from google to support face id.

[2022-07-12 16:42] #80 closed